<div class='col-md-4'>
  <form class="form-inline" role="search" id="search-links">
    <div class="form-group">
      <label for="searchField">Search:</label>
      <input type="text" class="form-control" id="searchField" placeholder="Search">
    </div>
  </form>
</div>
