<div class="container">
  <%= render partial: 'shared/new_link_form' %>
  <hr>
  <div class="links"></div>
    <table id='links-table' class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Read</th>
          <th>Update Status</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
  </div>
</div>
