<div class="container">
  <%= render partial: 'shared/new_link_form' %>
  <hr>
  <div class="links"></div>
    <table id='links-table' class="table">
      <thead>
        <tr>
          <th id='title-header' data-sort=''><span>Title </span><span class='glyphicon glyphicon-chevron-up'></span></th>
          <th id='url-header' data-sort=''><span>URL </span><span class='glyphicon glyphicon-chevron-up'><span></th>
          <th>Read</th>
          <th>Update Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
  </div>
</div>
