<div class="container">
  <%= render partial: 'shared/new_link_form' %>

  <div class="links"></div>
    <table id='links-table' class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Read</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <tr>HELLO</tr>
      </tbody>
    </table>
  </div>
</div>
